# Enabled plugins
/app/public/wp-content/plugins/*
# !/public/wp-content/plugins/wordpress-seo/

# Automatically created folders
node_modules
package-lock.json
yarn-error.log

/conf
/vendor
/logs

# Lumie
/app/*
!/app/public/
/app/public/*

!/app/public/.env
!/app/public/.php_cs
!/app/public/auth.json
!/app/public/phpunit.xml
!/app/public/composer.json
!/app/public/composer.lock
!/app/public/.php-cs-fixer.php

!/app/public/wp-content
!/app/public/tests
/app/public/wp-content/*

!/app/public/wp-content/themes
!/app/public/wp-content/plugins

!/app/public/wp-content/plugins/lumie-customer-journey/
!/app/public/wp-content/plugins/lumie-widgets/

/app/public/wp-content/uploads/*

/app/public/wp-content/themes/*
!/app/public/wp-content/themes/lumie/

/app/public/wp-content/themes/lumie/dist

# Large/disallowed file types
*~
.DS_Store
.svn
.cvs
.idea
*.bak
*.swp
Thumbs.db

*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
!/app/public/.php-cs-fixer.dist.php
