@use "abstracts" as *;

.cards {
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: pxtoem(30);
		gap: pxtoem(12);

		@include bp("narrow") {
			margin-bottom: pxtoem(60);
			gap: pxtoem(24);
		}

		.titles {
			margin: 0;
		}

		.content-layout {
			max-width: 540px;
			margin-top: 10px;
			font-size: pxtorem(16);
		}
	}

	&__grid {
		display: grid;
		gap: 10px;

		@include bp("narrow") {
			grid-template-columns: repeat(3, 1fr);
			gap: 15px;
		}

		@include bp("normal") {
			gap: 30px;
		}

		&--4 {
			@include bp("narrow") {
				grid-template-columns: repeat(2, 1fr);
			}

			@include bp("normal") {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}
