@use "abstracts" as *;

.breadcrumb {
	position: relative;

	@include bp("mobile") {
		display: none;
	}

	.breadcrumbs {
		color: $hue-dark-1;
		position: absolute;
		z-index: 5;
		top: 15px;
		left: 0;
		font-size: pxtorem(14);
		line-height: 1;
		margin: 0;

		a {
			text-decoration: none;
		}
	}

	+ .hero {
		order: -1;
	}
}

.home {
	.breadcrumb {
		display: none;
	}
}
