@use "abstracts" as *;

.main-navigation {
	@include bp("mobile") {
		background-color: #fff;
		color: $text-color;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
	}

	@include bp("narrow") {
		max-width: 800px;
		width: 100%;
		font-size: pxtorem(12);
	}

	@include bp("normal") {
		font-size: pxtorem(16);
	}

	@include bp("large") {
		max-width: 980px;
		font-size: pxtorem(18);
	}

	&__content {
		@include bp("mobile") {
			position: absolute;
			top: 0;
			right: 0;
			width: 100vw;
			height: calc(100vh - 90px);
			overflow: scroll;
			display: none;
			transition: none;
			background-color: #fff;
			padding: 0 0 75px;
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			&.active {
				display: block;
			}
		}

		@include bp("narrow") {
			display: flex !important;
			align-items: center;
			column-gap: 10px;
		}

		@include bp("normal") {
			column-gap: 25px;
		}

		@include bp("xl") {
			column-gap: 50px;
		}

		.buttons {
			.btn {
				@include bp("mobile") {
					width: 100%;
				}
			}
		}
	}

	&__menu {
		flex-grow: 1;

		&--mobile {
			@include bp("narrow") {
				display: none;
			}
		}

		&--desktop {
			@include bp("mobile") {
				display: none;
			}
		}
	}

	ul {
		margin: 0;
		transition: none;
	}

	ul.menu {
		@include bp("narrow") {
			position: relative;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			column-gap: 10px;
		}

		.menu-item {
			&--1 {
				&:last-child {
					@include bp("mobile") {
						margin-bottom: 50px;
					}
				}

				&.menu-item-has-children {
					> a,
					> span {
						&::after {
							@include bp("narrow") {
								content: $fa-angle-down;
								font-family: $fa;
								font-weight: 400;
								padding-left: 2px;
							}
						}
					}

					> span {
						cursor: pointer;
					}

					&:hover,
					&:focus-within {
						> .sub-menu {
							@include bp("narrow") {
								opacity: 1;
								visibility: visible;
								transition-delay: 0s;
							}
						}
					}
				}

				> a,
				> span {
					@include bp("narrow") {
						display: inline-block;
						padding-block: 38px;
					}
				}

				> .sub-menu {
					@include bp("narrow") {
						display: grid;
						grid-template-columns: repeat(3, auto);
						opacity: 0;
						visibility: hidden;
						color: $text-color;
						position: absolute;
						inset: 100% 0 auto;
						z-index: 1;
						padding-block: 50px 100px;
						transition:
							opacity $hover-transition 0.15s,
							visibility 0s linear 0.45s;
					}

					&::before {
						@include bp("narrow") {
							content: "";
							background-color: #fff;
							position: absolute;
							z-index: -1;
							inset: 0 calc((100cqw - 700px) / 2 * -1) 0 auto;
							width: 100cqw;
						}

						@include bp("normal") {
							right: calc((100cqw - 960px) / 2 * -1);
						}

						@include bp("large") {
							right: calc((100cqw - 1180px) / 2 * -1);
						}

						@include bp("xl") {
							right: calc((100cqw - 1280px) / 2 * -1);
						}

						@include bp("xxl") {
							right: calc((100cqw - 1340px) / 2 * -1);
						}
					}

					.submenu-toggle {
						display: none;
					}
				}

				.sub-menu {
					@include bp("mobile") {
						width: 100%;
						padding-left: 30px;
					}
				}
			}

			&--2 {
				> a,
				> span {
					@include bp("narrow") {
						font-size: pxtorem(18);
					}
				}

				.sub-menu {
					@include bp("narrow") {
						margin-top: pxtoem(18, 18);
					}
				}
			}

			&--3 {
				&:not(:last-child) {
					@include bp("narrow") {
						margin-bottom: pxtoem(4);
					}
				}

				> a,
				> span {
					@include bp("narrow") {
						font-size: pxtorem(16);
						color: rgba($hue-dark-1, 0.8);
					}
				}
			}

			.back-to-previous {
				display: none;
				color: rgba($navy, 50%);
				padding: 15px 10px;

				> span::before {
					content: $fa-angle-left;
					font-family: $fa;
					font-weight: 400;
					padding-right: 5px;
				}
			}
		}

		// Show `.back-to-previous` only on mobile and when there are a minimum of 10 sibling menu items
		&:has(.menu-item:nth-child(2)) {
			.back-to-previous {
				@include bp("mobile") {
					display: block;
				}
			}

			.sub-menu {
				@include bp("mobile") {
					background-color: #fff;
					position: absolute;
					display: block !important;
					z-index: 1;
					width: 100vw;
					height: calc(100vh - 90px) !important;
					top: 0;
					right: 100vw;
					padding: 0;
					transition: right 0.4s ease-in-out;
				}

				.menu-item {
					@include bp("mobile") {
						margin-left: 10px;
						border-left: 2px solid rgba($navy, 20%);
					}
				}

				.submenu-toggle {
					@include bp("mobile") {
						display: block;
					}
				}
			}

			.submenu-toggle {
				&--active + .sub-menu {
					@include bp("mobile") {
						right: 0;
					}
				}
			}
		}
	}

	li.menu-item {
		@include bp("mobile") {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		/* stylelint-disable-next-line selector-class-pattern */
		&.current_page_item,
		&.current-page-ancestor {
			> a {
				text-decoration: underline;
			}
		}

		&.menu-item-has-children {
			> a,
			> span {
				@include bp("mobile") {
					max-width: calc(100% - 45px);
				}
			}
		}

		> a,
		> span {
			text-decoration: none;

			@include bp("mobile") {
				flex-grow: 1;
				display: block;
				width: 100%;
				font-size: pxtorem(16);
				padding: 15px 10px;
			}

			@include bp("narrow") {
				padding: 0;
				line-height: 1;
			}
		}

		> a {
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}
