@use "abstracts" as *;
@use "placeholders" as *;

.footer {
	background-color: $hue-dark-1;
	color: #fff;

	@include bp("large") {
		position: sticky;
		bottom: 0;
	}

	&__main {
		margin: 0 auto;
		display: grid;
		gap: 40px;
		padding: 50px 10px;

		@include bp("narrow") {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 50px;
			padding: 70px 0 60px;
		}

		@include bp("large") {
			display: flex;
			gap: 90px;
		}

		@extend %header-footer-wrapper;

		ul {
			margin: 0;
			list-style: none;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&:first-child {
			@include bp("large") {
				max-width: 240px;
				margin-right: auto;
			}
		}

		&:not(:first-child) {
			@include bp("narrow") {
				max-width: 210px;
			}
		}

		.titles {
			margin-bottom: pxtoem(15);

			.main-title {
				line-height: 3;
				font-family: $poppins;
				font-size: pxtorem(10);
				font-weight: 700;
				letter-spacing: 0.2px;
				text-transform: uppercase;
				color: $zest;

				&::after {
					display: none;
				}
			}
		}
	}

	&__image {
		display: block;
		width: auto;
		max-width: 100%;
		max-height: 46px;
		margin-bottom: 42px;
	}

	&__menu {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 40px;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}

		li {
			line-height: 1.56;
			font-size: pxtorem(18);
		}

		a {
			text-decoration: none;
			color: #fff;
			transition: color $hover-transition;

			&:hover,
			&:focus {
				color: $zest;
			}
		}

		.folded {
			display: none;
		}
	}

	&__menu-fold-button {
		font-weight: 700;
		margin-top: 0.3em;
		cursor: pointer;

		&::after {
			content: $fa-caret-down;
			font-family: $fa;
			font-weight: 700;
			padding-left: 4px;
		}
	}

	&__cd {
		font-size: pxtorem(18);

		&:not(:last-child) {
			margin-bottom: 42px;
		}

		br {
			display: none;
		}
	}

	&__cd-item {
		display: block;
		line-height: 1.67;
		text-decoration: none;
		color: #fff;
		transition: color $hover-transition;

		&:hover,
		&:focus {
			color: $zest;
		}

		&--phone {
			margin-bottom: pxtoem(5, 18);
		}

		&--email {
			margin-bottom: pxtoem(15, 18);
		}

		&--address br {
			display: block;
		}
	}

	.socials {
		column-gap: 12px;
		font-size: pxtorem(16);

		&__item {
			&::before {
				width: 34px;
				background-color: $zest;
				color: $navy;
			}

			&:hover,
			&:focus {
				&::before {
					background-color: #fff;
					color: $navy;
				}
			}
		}
	}
}
