@use "abstracts" as *;
@use "placeholders" as *;

.footer {
	&__bottom {
		font-size: pxtorem(10);
		font-weight: 500;
		line-height: 3;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		color: $hue-accent-1;
	}

	&__bottom-wrapper {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 20px 10px 30px;
		border-top: 1px solid rgba(#fff, 0.3);

		@include bp("narrow") {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 30px;
			padding: 20px 0 30px;
		}

		@extend %header-footer-wrapper;

		a {
			text-decoration: none;
			color: inherit;
			transition: color $hover-transition;

			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}

	&__copyright {
		p {
			margin: 0;
		}
	}

	&__subfooter-menu {
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 5px 30px;
			margin: 0;
			list-style: none;
		}
	}
}
