@use "abstracts" as *;

.contact {
	$contact: &;

	&__grid {
		display: grid;
		justify-content: center;
		gap: 1.5em 20px;

		@include bp("narrow") {
			gap: pxtoem(80) 20px;
		}

		&--contact_details,
		&--content {
			@include bp("normal") {
				justify-content: space-between;
			}

			.titles {
				max-width: 475px;

				@include bp("narrow") {
					margin-bottom: pxtoem(40);
				}
			}

			.content-layout {
				p {
					max-width: 475px;
				}
			}

			#{$contact}__form {
				@include bp("mobile") {
					order: 1;
				}

				@include bp-only("narrow", "normal") {
					order: 1;
				}
			}

			&#{$contact}__grid--flip {
				@include bp("normal") {
					grid-template-columns: minmax(auto, 620px) minmax(
							auto,
							520px
						);
				}

				@include bp("xl") {
					padding-right: 85px;
				}

				#{$contact}__form {
					@include bp("normal") {
						order: 1;
					}
				}
			}

			&#{$contact}__grid--unflip {
				@include bp("normal") {
					grid-template-columns: minmax(auto, 520px) minmax(
							auto,
							620px
						);
				}

				@include bp("xl") {
					padding-left: 85px;
				}
			}
		}
	}

	&__form {
		background-color: $hue-light-4;
		position: relative;
		text-align: center;
		max-width: 620px;
		padding: 30px 10px;
		z-index: 1;

		@include bp("narrow") {
			padding: 40px;
		}

		@include bp-only("normal", "large") {
			padding: 40px 20px;
		}
	}

	&__tab-buttons {
		background-color: $hue-light-5;
		padding: 4px;
		display: flex;
		justify-content: space-between;
		margin-bottom: pxtoem(32);
	}

	&__tab-button {
		background-color: transparent;
		border: none;
		margin: 0;
		border-radius: 1px;
		padding: 12px 5px;
		flex-grow: 1;

		@include bp("mobile") {
			font-size: pxtorem(12);
		}

		@include bp-only("normal", "large") {
			font-size: pxtorem(14);
		}

		&--active {
			background-color: #fff;
		}
	}

	&__form-tab {
		display: none;

		&--active {
			display: block;
		}

		#{$contact}__form-title {
			text-align: left;

			@include bp("narrow") {
				font-size: pxtorem(54);
				margin-bottom: pxtoem(32, 54);
			}
		}
	}

	&__form-title {
		margin-bottom: pxtoem(10);

		@include bp("narrow") {
			margin-bottom: pxtoem(32, 32);
			font-size: pxtorem(32);
		}
	}

	&__cd {
		margin-top: pxtoem(30);

		@include bp("narrow") {
			margin-top: pxtoem(60);
		}
	}

	&__cd-title {
		text-transform: uppercase;
		font-family: $poppins;
		font-weight: 700;
		line-height: 3;
		letter-spacing: 0.2px;
		color: $hue-accent-1;
		font-size: pxtorem(10);
		margin-bottom: pxtoem(10, 10);

		@include bp("narrow") {
			margin-bottom: pxtoem(15, 10);
		}
	}

	&__cd-grid {
		display: grid;
		column-gap: 10px;

		@include bp("narrow") {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__cd-item {
		&--address {
			grid-row: span 2;
		}
	}

	&__content {
		@include bp("normal") {
			padding-top: pxtoem(20);
		}
	}

	.socials {
		margin-top: pxtoem(25);

		@include bp("narrow") {
			margin-top: pxtoem(40);
		}
	}

	.content-layout {
		.contact-person {
			margin-top: pxtoem(30);

			@include bp("normal") {
				margin-top: pxtoem(70);
			}
		}
	}
}
