@use "abstracts" as *;
@use "placeholders" as *;

.header {
	$header: &;

	position: sticky;
	top: 0;
	transition: top 0.4s ease-in-out;
	z-index: 100;

	&::after {
		content: "";
		position: absolute;
		inset: auto 0 0;
		margin: 0 auto;
		height: 1px;
		background-color: $hue-light-3;
		pointer-events: none;
		transition: opacity $hover-transition;
		transition-delay: 0.15s;

		@extend %header-footer-wrapper;
	}

	&--up {
		top: -200px;
	}

	&--has-hero {
		margin-bottom: -55px;

		@include bp("narrow") {
			margin-bottom: -88px;
		}

		@include bp("normal") {
			margin-bottom: -92px;
		}

		@include bp("large") {
			margin-bottom: -95px;
		}

		&:not(#{$header}--scrolled) {
			&::after {
				opacity: 0;
			}

			#{$header}__logo {
				.logo {
					&--colored {
						opacity: 0;
					}

					&--white {
						opacity: 1;
					}
				}
			}

			#{$header}__main {
				background-color: transparent;
				color: #fff;
			}

			.menu-button {
				> a,
				> span {
					background-color: #fff;
					border-color: #fff;
					color: $navy;

					&:hover,
					&:focus {
						background-color: $navy;
						border-color: $navy;
						color: #fff;
					}
				}
			}

			.menu-toggle {
				&__burger-line,
				&__close-line {
					background-color: #fff;
				}

				&__text {
					color: #fff;
				}
			}
		}
	}

	&__top {
		background-color: $hue-light-1;
		line-height: 1.7;
		font-size: pxtorem(14);
	}

	&__top-wrapper {
		margin: 0 auto;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		@include bp("narrow") {
			justify-content: space-between;
			padding: 6px 0;
			column-gap: 15px;
		}

		@extend %header-footer-wrapper;

		.swiper {
			margin: 0;

			@include bp("mobile") {
				padding: 5px 10px;
			}
		}
	}

	&__main {
		background-color: #fff;
		transition:
			background-color $hover-transition,
			color $hover-transition;
		transition-delay: 0.15s;
	}

	&__main-wrapper {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 10px;

		@include bp("mobile") {
			height: 55px;
		}

		@include bp("narrow") {
			padding: 0;
			column-gap: 10px;
		}

		@extend %header-footer-wrapper;
	}

	&__top-right {
		margin-left: auto;
		display: flex;
		align-items: center;
		white-space: nowrap;
	}

	&__top-menu {
		@include bp("mobile") {
			display: none;
		}

		&:not(:last-child) {
			border-right: 1px solid $hue-dark-1;
			padding-right: 15px;
			margin-right: 15px;

			@include bp("normal") {
				padding-right: 30px;
				margin-right: 30px;
			}
		}

		ul {
			margin: 0;
			display: flex;
			align-items: center;
			column-gap: 15px;

			@include bp("normal") {
				column-gap: 30px;
			}
		}
	}

	&__usps {
		display: flex;
		align-items: center;
		white-space: nowrap;
		transition-timing-function: linear;
		flex-grow: 1;

		@include bp("large") {
			max-width: unset;
		}
	}

	&__usp {
		position: relative;

		@include bp("mobile") {
			text-align: center;
		}

		@include bp("narrow") {
			padding-left: 20px;
		}

		@include bp("normal") {
			width: auto;
		}

		&::before {
			content: $fa-check;
			font-family: $fa;
			color: $hue-accent-1;
			font-weight: 400;

			@include bp("narrow") {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&__logo {
		position: relative;

		.logo {
			display: block;
			object-fit: contain;
			transition: opacity $hover-transition;
			transition-delay: 0.15s;

			@include bp("mobile") {
				max-height: 45px;
				max-width: 150px;
			}

			&--white {
				position: absolute;
				inset: 0;
				opacity: 0;
			}
		}
	}

	&__buttons {
		.buttons {
			@include bp("mobile") {
				width: calc(100vw - 20px);
				margin: 0 auto;
			}
		}
	}

	&__icon {
		@include bp("mobile") {
			position: absolute;
			right: 55px;
			top: calc(100% + 10px);
		}

		@include bp("narrow") {
			position: relative;
			padding-left: 20px;
		}

		&--phone::before {
			content: $fa-phone;
			font-family: $fa;
			font-weight: 700;

			@include bp("mobile") {
				background-color: $hue-accent-1;
				color: #fff;
				width: 35px;
				aspect-ratio: 1/1;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			@include bp("narrow") {
				position: absolute;
				top: 0;
				left: 0;
				color: $hue-accent-1;
			}
		}
	}

	&__background {
		content: "";
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba($navy, 50%);
		pointer-events: none;
		opacity: 0;
		transition: opacity $hover-transition;
		transition-delay: 0.15s;

		&--active {
			@include bp("narrow") {
				opacity: 1;
			}
		}
	}

	&:has(
		.menu-item-has-children.menu-item--1:hover,
		.menu-item-has-children.menu-item--1:focus
	) {
		&::after {
			opacity: 1;
			transition-delay: 0s;
		}

		#{$header}__logo {
			.logo {
				transition-delay: 0s;

				&--colored {
					opacity: 1;
				}

				&--white {
					opacity: 0;
				}
			}
		}

		#{$header}__main {
			background-color: #fff;
			color: $text-color;
			transition-delay: 0s;
		}

		#{$header}__background {
			@include bp("narrow") {
				opacity: 1;
				transition-delay: 0s;
			}
		}

		.menu-button {
			> a,
			> span {
				background-color: $navy;
				border-color: $navy;
				color: #fff;

				&:hover,
				&:focus {
					background-color: #fff;
					border-color: #fff;
					color: $navy;
				}
			}
		}
	}
}

main {
	background-color: #fff;
	position: relative;
	z-index: 1;
}
