@use "abstracts" as *;

.page-number-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
	margin: pxtoem(35) 0 0;

	@include bp("narrow") {
		margin-top: pxtoem(60);
	}

	ul.page-numbers {
		padding: 0;
		display: flex;
		align-items: center;
		gap: 10px;

		li {
			position: relative;
			padding-left: 0;
			margin-bottom: 0;

			&::before {
				content: "";
				background-color: transparent;
				aspect-ratio: 38/50;
				width: 38px;
				border-radius: 50%;
				display: block;
				rotate: 30deg;
				transition: background-color 0.4s ease;
			}

			&:has(.current) {
				&::before {
					background-color: $hue-accent-1;
				}
			}
		}
	}

	a,
	span {
		background-color: transparent;
		color: $text-color;
		line-height: 1;
		text-decoration: none;
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		&.current {
			color: #fff;
		}

		&.prev,
		&.next {
			display: none;
		}
	}
}
