@use "abstracts" as *;
@use "placeholders" as *;

.btn {
	&--primary {
		@extend %btn--primary;
	}

	&--secondary {
		@extend %btn--secondary;
	}

	&--tertiary {
		@extend %btn--tertiary;
	}

	&__filter {
		background-color: transparent;
		border-color: $btn-primary;
		color: $btn-primary;

		@extend %btn;

		&:hover,
		&:focus {
			background-color: $btn-primary;
			color: #fff;
		}

		&--active {
			background-color: $btn-primary;
			color: #fff;

			&:hover,
			&:focus {
				background-color: transparent;
				color: $btn-primary;
			}
		}
	}

	&--read-more {
		background-color: transparent;
		padding: 0;
		font-size: pxtorem(16);
		color: $text-color;
		border: none;

		@extend %btn;

		@include bp("mobile") {
			column-gap: pxtoem(5);
		}

		&::after {
			content: $fa-arrow-up-right;
			font-family: $fa;
			font-weight: 700;
		}

		&:hover,
		&:focus {
			color: $hue-accent-1;
			text-decoration: underline;
		}
	}
}

.menu-button {
	> a,
	> span {
		@extend %btn--primary;

		@include bp("narrow") {
			padding: 12px 6px !important;
		}

		@include bp("normal") {
			padding: 12px 16px !important;
		}
	}
}

.btn-display {
	&--phone {
		@include bp("narrow") {
			display: none;
		}
	}

	&--desktop {
		@include bp("mobile") {
			display: none;
		}
	}
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px 15px;

	&--centered {
		justify-content: center;
	}

	.phone {
		a {
			font-weight: 500;
		}
	}
}
