@use "abstracts" as *;

/**
* write in kebab case, ref: https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#block-color-palettes
*/
.has-spring-wood-background-color {
	background-color: $hue-light-3;
}

.has-spring-wood-color {
	color: $hue-light-3;
}

.has-pearl-bush-background-color {
	background-color: $hue-light-2;
}

.has-pearl-bush-color {
	color: $hue-light-2;
}

.has-dark-to-light-gradient {
	background: linear-gradient(135deg, #2e333e 0%, #ebebeb 100%);
}
