@use "abstracts" as *;

html,
body {
	background: $paper;

	&.no-scroll {
		overflow: hidden;
	}
}

body {
	font-family: $poppins;
	font-size: pxtorem($base-font-size);
	line-height: 1.65;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	container-type: inline-size;

	@include bp("mobile") {
		font-size: $mobile-font-size;
	}

	&.no-scroll {
		overflow: hidden;
		height: 100%;
	}
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:link {
		-webkit-tap-highlight-color: rgb(0 0 0 / 30%);
	}
}

p {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: none;
	margin-bottom: 1.5em;

	&:last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
	}
}

img {
	height: auto;
	max-width: 100%;
}

.site {
	background: $paper;

	@include bp("narrow") {
		max-width: $site-width;
		margin: 0 auto;
	}
}

.entry-content {
	display: grid;

	p {
		margin: 0 0 1.5em;
	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		th {
			background-color: $light-gray;
			border-bottom: 1px solid $gray;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}

		tr {
			border-bottom: 1px solid $gray;

			&:nth-child(even) {
				background-color: $light-gray;
			}
		}

		td {
			padding: 7px;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $navy;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	ol {
		margin-left: 1.5em;
		list-style-type: decimal;
	}

	ul {
		margin-top: 0;
		margin-bottom: 1.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}
