@use "abstracts" as *;

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

html {
	font-family: sans-serif;
	text-size-adjust: 100%;
}

body {
	margin: 0;
}

a {
	background: transparent;
}

a:focus {
	outline: 0;
}

a:active,
a:hover {
	outline: 0;
}

h1 {
	font-size: pxtorem(32);
	margin: 0.67em 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong,
.strong {
	font-weight: 500;
}

dfn,
em,
.em {
	font-style: italic;
}

hr {
	box-sizing: content-box;
	height: 0;
}

p {
	hyphens: none;
}

pre {
	margin: 0;
	white-space: pre-wrap;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: pxtorem(16);
}

q {
	quotes: "\201C""\201D""\2018""\2019";
}

q::before,
q::after {
	content: "";
	content: none;
}

sub,
sup {
	font-size: pxtorem(12);
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl,
menu,
ol,
ul {
	margin: 1em 0;
}

dd {
	margin: 0;
}

menu {
	padding: 0 0 0 40px;
}

ol,
ul {
	padding: 0;
	list-style-type: none;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: pxtorem(16);
	margin: 0;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	appearance: auto;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

.image-replacement,
.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.clearfix,
.cf {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

span.amp {
	font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
	font-style: italic;
}

.comment-content a {
	word-wrap: break-word;
}

embed,
iframe,
object {
	max-width: 100%;
}
